.content {
  padding: 25px;

  &__block {
    background: #fff;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 25px;

    h3 {
      font-size: 19px;
      line-height: 24px;
      letter-spacing: 0.4px;
      color: #252733;
      margin-bottom: 15px;
    }

    &-title {

      table {
        font-size: 14px;
        border-radius: 10px;
        border-spacing: 0;
        text-align: center;
      }
      th {
        background: #F8E391;
        text-shadow: 0 1px 1px #2D2020;
        padding: 10px 20px;
      }

      td {
        border-style: solid;
        border-width: 1.5px 0 1.5px 0;
        border-color: #DFE0EB;
      }
      th:first-child, td:first-child {
        text-align: left;
      }
      th:first-child {
        border-top-left-radius: 10px;
      }
      th:last-child {
        border-top-right-radius: 10px;
        border-right: none;
      }
      td {
        padding: 10px 20px;
        vertical-align: inherit;

        a, button {
          text-decoration: none;
          color: inherit;
          box-sizing: border-box;
          border: 1px solid #000;
          border-radius: 2px;
          padding: 5px;
          width: 70px;
          background: transparent;
          display: block;
          margin: 5px auto;
          cursor: pointer;
        }

        button {

        }
      }

      tr {
        color: inherit;
        display: table-row;
        outline: 0;
        vertical-align: middle;
      }

      tr:last-child td:first-child {
        border-radius: 0 0 0 10px;
      }
      tr:last-child td:last-child {
        border-radius: 0 0 10px 0;
      }
      tr td:last-child {
        border-right: none;
      }

      img {
        max-width: 150px;
      }
    }

    >a {
      text-decoration: none;
      text-align: center;
      color: #000;
      display: block;
      width: 200px;
      box-sizing: border-box;
      padding: 10px;
      margin: 20px auto;
      background: transparent;
      border: 2px solid #000;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}