.header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  padding: 18px;

  &__panel {
    text-align: right;

    p {
      //margin-right: 250px;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      //text-align: right;
      letter-spacing: 0.2px;
      color: #252733;
    }

  }

}